.HeaderWrap{
    position: fixed;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 255px);
    background-color:#fff;
    margin-left: 255px;
    flex-grow: 1;
    padding: 12px 15px;
     box-shadow: rgb(159 162 191 / 18%) 20px 2px 3px, rgb(159 162 191 / 32%) 0px 1px 1px;/*0px 5px 8px -9px rgba(0, 0, 0, 0.75); */
     transition: all 0.5s ease-in-out;
    }

.sideHide{
    width: 100%;
    margin-left:0;
    transition: all 0.5s ease-in-out;

}
.HeaderWrapMd{
    width: 100%;
    margin-left:0;
    transition: all 0.5s ease-in-out;
}
.HeaderLeft{

}
.HedaderCenter{
    flex: 1;
}
.HeaderRight{


}

