*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
.content{
    width: calc( 100% - 255px);
    transition: width 0.5s ease-in-out;
}
.sideHide{
    width:100%;
    transition: width 0.5s ease-in-out;
}
.contentMd{
    width:100%;
    transition: width 0.5s ease-in-out;
}
